
*.db
*.cache
*.opendb
*.db-shm
*.db-wal
*.lref
*.ide-wal
*.ide-shm
*.ide
*.lock
*.pyc
.vs/
python-packages/.vs/
bin/
packages/
temp/
WPFTestApp/bin/
WPFTestApp/obj/
source/WPFMayaPlugin/obj/
source/WPFMaxPlugin/obj/
source/WPFDccPlugin/obj/
